@CHARSET "UTF-8";
input{
	outline: none;
	border:1px solid #ccc;
	padding:2px;
}
p{
	position: relative;
}
img{
	width:20px;
	display:none;
	position:absolute;
}
.imgDisplay{
	display:none;
}
#join_wrap{
	width:870px;
	margin:0 auto; 
}
#join_title{
	width:100%;
	height:100px;
	position:relative;
	color:#865009;
}
#join_title >h1{
	font-size: 2.0em;
	position: absolute;
	bottom:15px;
	left:0px;
}
#join_title_info{
	overflow: hidden;
	width:100%;
	margin-bottom: 40px;
}
#join_title_info ul{
	list-style: none;
	width:100%;
	
}
#join_title_info ul li{
	float:left;
	width:48%;
	height:40px;
	line-height:35px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #cacbc3;
	border-right:  1px solid #cacbc3;
	border-top:1px solid #cacbc3;
	border-bottom: 4px solid #9F876B;
	background-color: #FAF9F7;
}
#join_title_info ul li:LAST-CHILD{
	background-color: white;
		border-bottom: 1px solid #9F876B;
	color:#cacbc3;
}
#info_insert >h1{
	width:100%;
	height:30px;
	line-height:30px;
	font-size: 17px;
	font-weight: bold;
	border-bottom: 3px solid #9F876B;
	padding-bottom: 5px;
}
.star{
	color:red;
}
/*회원입력 form */
#info_basic{
	margin-top: 30px;
	font-size: 14px;
}
#info_basic_title{
	height:30px;
	position: relative;
}
#info_basic_title h1{
	font-weight: bold;
}
#info_basic_title h1:FIRST-CHILD{
	position:absolute;
	left:0px;
	top:0px;
}
#info_basic_title h1:LAST-CHILD{
	position:absolute;
	right:0px;
	top:0px;
}
#info_basic_input{
	border-top: 1px solid #CDCBBE;
	border-bottom:1px solid #CDCBBE;
	width:100%;
}
#info_basic_input p{
	overflow: hidden;
	border-bottom: 1px solid #ECEAE1;
	line-height: 45px;
}
#info_basic_input p:LAST-CHILD{
	border:none;
}
#info_basic_input p label{
	width:150px;
	float:left;
	background-color: #FAF9F4;
	display:block;
	padding-left:10px;
	font-weight: bold;
	height:45px;
	line-height: 45px;
	margin-right:15px;
}
#info_basic_input input[type='text'],input[name='p2'],input[name='p3']{
	height:24px;
}
input[name='t2'],input[name='t3']{
	height:24px;
}
.ename{
	padding:10px 0px 5px 0px;
}
#birth_select{
	line-height: 40px;
}
select{
	height:30px;
	width:100px;
}

#email_select select{
	width:120px;
}
#email_btn{
	background-color: #7C6347;
	color:#F1EBD6;
	border:1px solid #7C6347;
	width:120px;
	height:30px;
	line-height: 30px;
	cursor: pointer;
}

#info_basic_input p:LAST-CHILD  label{
	height:135px;
	line-height: 130px;
}
input[name='addr2'],input[name='addr3']{
	width:650px;
}
#addr_btn{
	background-color: #727272;
	border:1px solid #727272;
	color:white;
	height:30px;
	margin:5px;
	line-height: 30px;
	cursor: pointer;
}

/*아이디, 비밀번호 입력란*/
#web_join_info{
	margin-top: 30px;
	font-size: 14px;
}
#web_join_info_title{
		height:30px;
		font-weight: bold;
}
#web_join_info_input{
	border-top: 1px solid #CDCBBE;
	border-bottom:1px solid #CDCBBE;
	width:100%;
}
#web_join_info_input p{
		overflow: hidden;
	border-bottom: 1px solid #ECEAE1;
	line-height: 45px;
	
}
#web_join_info_input p:LAST-CHILD{
	border:none;
}
#web_join_info_input p label{
	width:150px;
	float:left;
	background-color: #FAF9F4;
	display:block;
	padding-left:10px;
	font-weight: bold;
	height:45px;
	line-height: 45px;
		margin-right:15px;
}
#web_join_info_input input[type='text'], #web_join_info_input input[type='password']{
			height:24px;
}
#id_check_btn{
	 background-color: #7C6347;
    color: #F1EBD6;
    border: 1px solid #7C6347;
    height:30px;
    line-height: 30px;
    cursor: pointer;
}

/*회원가입 submit 버튼*/
input[type='submit']{
	 background-color: #3e2b2c;
	 border: 1px solid #3e2b2c;
    color: #F1EBD6;
    display:block;
    margin:0 auto;
    height:60px;
    width:120px;
    font-size: 1.1em;
    margin-top: 30px;
    cursor: pointer;
}

/*주소록 가져오기*/
#addr_bg{
	width:100%;
	height:1100px;
	z-index: 9999; 
	position: absolute;
	top:140px;
	left:0;
	display: none;
	background-color: white;
	opacity:0.5; 
	
}

.error,#id_error2,#click,#pw_reg_error,#id_rule_error,#email_check_error,#email_duplicate_error{
	display:none;
	font-size: 12px;
	color:red;
}
#okPw,#id_error,#pw_reg,#email_duplicate{
	display:none;
	font-size: 12px;
	color:green;
}
/*비밀번호 안내*/
#pw_info{
	display:none; 
	position: absolute;
	width:430px;
	height:100px;
	background-color: white;
	border:1px solid #a0886e;
}
#pw_info p{
	font-size: 14px;
	padding:5px;
}
#pw_import{
	cursor:pointer;
	margin:15px 3px;
	line-height:30px;
	 display: inline; 
}