@CHARSET "UTF-8";
input{
	outline: none;
	border:1px solid #ccc;
	padding:2px;
}
p{
	position: relative;
}
.x-btn{
	width:20px;
	display:none;
	position:absolute;
}
#wrap_home{
	margin-top: 50px;
}
.imgDisplay{
	display:none;
}
#join_wrap{
	width:870px;
	margin:0 auto; 
}
#join_title{
	width:100%;
	height:80px;
	position:relative;
	color:#865009;
}
#join_title >h1{
	font-size: 2.0em;
	position: absolute;
	bottom:15px;
	left:0px;
}
#join_title_info{
	overflow: hidden;
	width:100%;
	margin-bottom: 40px;
}
#join_title_info ul{
	list-style: none;
	width:100%;
}
#join_title_info ul li{
	float:left;
	width:433px;
	height:40px;
	line-height:35px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #cacbc3;
	border-right:  1px solid #cacbc3;
	border-top:1px solid #cacbc3;
	border-bottom: 4px solid #9F876B;
	background-color: #FAF9F7;
}
#join_title_info ul li:LAST-CHILD{
	background-color: white;
		border-bottom: 1px solid #9F876B;
	color:#cacbc3;
}
#info_insert >h1{
	width:100%;
	height:30px;
	line-height:30px;
	font-size: 17px;
	font-weight: bold;
	border-bottom: 3px solid #9F876B;
	padding-bottom: 5px;
}
.star{
	color:red;
}
/*회원입력 form */
#info_basic{
	margin-top: 30px;
	font-size: 14px;
}
#info_basic_title{
	height:30px;
	position: relative;
}
#info_basic_title h1{
	font-weight: bold;
}
#info_basic_title h1:FIRST-CHILD{
	position:absolute;
	left:0px;
	top:0px;
}
#info_basic_title h1:LAST-CHILD{
	position:absolute;
	right:0px;
	top:0px;
}
#info_basic_input{
	border-top: 1px solid #CDCBBE;
	border-bottom:1px solid #CDCBBE;
	width:100%;
}
#info_basic_input p{
	overflow: hidden;
	border-bottom: 1px solid #ECEAE1;
	line-height: 45px;
}
#info_basic_input p:LAST-CHILD{
	border:none;
}
#info_basic_input p label{
	width:150px;
	float:left;
	background-color: #FAF9F4;
	display:block;
	padding-left:10px;
	font-weight: bold;
	height:45px;
	line-height: 45px;
	margin-right:15px;
}
#info_basic_input input[type='text'],input[name='p2'],input[name='p3']{
	height:24px;
}
input[name='t2'],input[name='t3']{
	height:24px;
}
.ename{
	padding:10px 0px 5px 0px;
}
#birth_select{
	line-height: 40px;
}
select{
	height:30px;
	width:100px;
}

#email_select select{
	width:120px;
	position: absolute;
	top:9px;
	margin-left: 5px;
}
#email_btn{
	display:inline-block;
	cursor: pointer;
	height:30px;
	line-height:30px;
	position: absolute;
	top:10px;
	right:95px;
}
.email_err{
	position: absolute;
	left:780px;
}
#info_basic_input p:LAST-CHILD  label{
	height:135px;
	line-height: 130px;
}
input[name='addr2'],input[name='addr3']{
	width:650px;
}
#addr_btn{
	display:inline-block;
	cursor: pointer;
	height:30px;
	position: absolute;
	top:10px;
	margin-left: 5px;
}

/*아이디, 비밀번호 입력란*/
#web_join_info{
	margin-top: 30px;
	font-size: 14px;
}
#web_join_info_title{
		height:30px;
		font-weight: bold;
}
#web_join_info_input{
	border-top: 1px solid #CDCBBE;
	border-bottom:1px solid #CDCBBE;
	width:100%;
}
#web_join_info_input p{
		overflow: hidden;
	border-bottom: 1px solid #ECEAE1;
	line-height: 45px;
	position: relative;
	
}
#web_join_info_input p:LAST-CHILD{
	border:none;
}
#web_join_info_input p label{
	width:150px;
	float:left;
	background-color: #FAF9F4;
	display:block;
	padding-left:10px;
	font-weight: bold;
	height:45px;
	line-height: 45px;
		margin-right:15px;
}
#web_join_info_input input[type='text'], #web_join_info_input input[type='password']{
			height:24px;
}
#id_check_btn{
	display:inline-block;
    cursor: pointer;
  	position: absolute;
  	top:10px;
  	height:27px;
  	line-height:30px;
  	margin-left: 5px;
}
#id_info{
	position: absolute;
	left:460px;
}
.id_errs{
	position: absolute;
	left:695px;
}
/*회원가입 submit 버튼*/
input[type='submit']{
	 background-color: #3e2b2c;
	 border: 1px solid #3e2b2c;
    color: #F1EBD6;
    display:block;
    margin:0 auto;
    height:60px;
    width:120px;
    font-size: 1.1em;
    margin-top: 30px;
    cursor: pointer;
}

/*주소록 가져오기*/
#addr_bg{
	width:100%;
	height:1100px;
	z-index: 9999; 
	position: absolute;
	top:140px;
	left:0;
	display: none;
	background-color: white;
	opacity:0.5; 
	
}

.error,#id_error2,#click,#pw_reg_error,#id_rule_error,#email_check_error,#email_duplicate_error{
	display:none;
	font-size: 12px;
	color:red;
}
#okPw,#id_error,#pw_reg,#email_duplicate{
	display:none;
	font-size: 12px;
	color:green;
}
/*비밀번호 안내*/
#pw_info{
	display:none; 
	position: absolute;
	width:430px;
	height:100px;
	background-color: white;
	border:1px solid #a0886e;
}
#pw_info p{
	font-size: 14px;
	padding:5px;
}
#pw_import{
	cursor:pointer;
	line-height:30px;
	 display: inline; 
}
#sendBtn{
	margin-top: 40px;
	text-align: center;
}
#join_btn{
	display: inline-block;
}

/*주소찾기  */
#addr_box{
	z-index: 10000;
	width:500px;
	max-height:300px;
	border:4px solid #9B7F5B;
	overflow-y:auto; 
	position: absolute;
	left:30%;
	top:40%;
	display:none;
	background-color: white;
}
#addr_title{
	height:35px;
	line-height:35px;
	background-color:#9B7F5B;
	width:100%;
	color:white;
	position: relative;
	margin-bottom: 10px;
}
#addr_title h1{
	 float: left; 
	width:120px;
	font-size: 1.2em;
	font-weight: bold;
	margin-left:5px;
}
#addr_img{
	float: right;
}
#addr_img > img{
	display:block;
	width:26px;
	height:26px;
	margin: 4px;
	cursor: pointer;
}
#addr_input{
	height:30px;
	width:96%;
	border:#e9e9e9 solid 1px;
	margin:0 auto;
	background-color: #fbfbfb;
	padding:10px 5px;
	overflow: hidden;
	margin-bottom: 10px;
}
#addr_input label{
	float: left;
	width:100px;
	margin-left:30px;
	font-size: 15px;
	line-height: 25px;
}
#addr_input input{
	float:left;
	width:200px;
	height:20px;
	margin-right: 10px;
}
#search_addr{
	display:inline-block;
}
#addr_content > table{
	width:96%;
	margin:0 auto;
}
#addr_content > table th,td{
	border:#e9e9e9 solid 1px;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}
#addr_content > table tr{
	cursor: pointer;
}
#addr_content > table th{
	width:100px;
}
#addr_content > table td{
	padding-left: 7px;
}
#no_search{
	font-size: 13px;
	color:#8C8C8C;
	padding:0px 0px 20px 10px;
}