@CHARSET "UTF-8";

a {
	text-decoration: none;
	color: black;
}

/*헤더 Style*/
#headerWrap {
	width: 100%;
	background: #f1e3c4;
	position:absolute;
	top:0;
	left:0;
	z-index: 9999;
}
section{
	padding:50px 0;
	margin-top: 142px;
	min-height: 500px;
} 
#header { 
	width: 1200px;
	height: 90px;
	margin: 0 auto;
}

#header_gnb {
	width: 100%;
	height: 50px;
	background: #81725f;
	clear: both;
}

#navWrap {
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
/*헤드 로고*/
#hotelSearch {
	float: left;
	position: relative;
}

#hotelSearch ul#hotelList {
	position: absolute;
	z-index: 9999;
	background: #3e2b2c;
	top: 50px;
	left: 10px;
}

ul#hotelList li a,ul#hotelList li span{
	display:block;
	width: 140px;
	height: 37px;
	padding: 0px 15px; 
	line-height: 37px;
	color:#f1ebd6;  
	font-size: 13px;
}ul#hotelList li a:HOVER{
	color:#fff !important;
	text-decoration: underline;
}
.selTitle{    
	background-color: #322223;
	color:#f1ebd6 !important;
	font-weight:bold !important;
}  
.stayHead{
	border-top:1px solid #322223;
	color:#b3a291 !important;
	font-weight:bold !important;
}
 
#hotelSearch a.openList {
	display: block;
	font-size: 12px;
	color: #5d4930;
	line-height: 35px;
	padding: 0 10px;
	background: url();
	width: 91px;
	height: 35px;
	margin-top: 15px;
}

#head_logo {
	display: block;
	width: 200px;
	margin: 0;
	margin-left: 389px;
	float: left;
}

#headNav {
	margin-top: 24px;
	float: right;
}

#headNav ul li {
	float: left;
}

#headNav ul li a {
	font-size: 12px;
	display: block;
	color: #5d4930;
	padding-right: 15px;
	margin-right: 15px;
	border-right: 1px solid #cccfcf;
}

#headNav ul li:nth-child(3) a {
	margin-right: 0px;
	border-right: none;
}

#headNav ul li:last-child a {
	border-right: none;
	padding: 5px 10px;
	margin-top: -5px;
	border-radius: 2px;
	background-color: #b3a28f;
	color: #fff;
}

#headNav ul li:last-child a:HOVER {
	background: #3e2b2c;
}
/*헤드 메뉴*/
ul#mainNav {
	width: 900px;
}

ul#mainNav>li {
	float: left;
	width: 16.66666%;
	text-align: center;
}

ul#mainNav>li>a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	color: #dfd4c6;
}

ul#mainNav a:HOVER {
	color: #fff;
	font-weight: bold;
}

div.subBg {
	width: 100%;
	height: 30px;
	background-color: #685845;
}

ul.subNav {
	width: 1200px;
	padding-left: 25px;
}

ul.subNav>li {
	float: left;
}

ul.subNav>li a {
	display: block;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	padding: 0 20px;
	color: #eae1c1;
}

ul#mainNav>li:nth-child(1) ul.subNav {
	padding-left: 10px;
}

ul#mainNav>li:nth-child(4) ul.subNav, ul#mainNav>li:nth-child(5) ul.subNav
	{
	margin-left: -300px;
}

.line {
	display: block;
	background: #cccfcf;
	width: 1px;
	height: 8px;
	margin: 11px 0;
}

#reservationBtn {
	display: block;
	height: 50px;
	width: 208px;
	line-height: 50px;
	text-decoration: underline;
	color: #dfd4c6;
	float: right;
	text-align: center;
	background: rgba(0, 0, 0, 0.45);
}

#reservationBtn:HOVER {
	color: #fff;
	font-weight: bold;
}

.active {
	display: block;
}

.hide {
	display: none;
}

/*footer*/
footer{
		width:100%;
		font-family: Dotum,"돋움",sans-serif;
	}
	#footer_up{
		width:100%;
		background-color: #f1e3c4;
		height:172px;
		overflow: hidden;
	}
	#footer_up #footer_wrap{
		width:1200px;
		margin: 0 auto;
	}
	#footer_wrap #logo{
		width:250px;
		height:172px;
		background: url("/Project_JSP/img/common/logo.jpg") no-repeat center left;
		float:left;
	}
	#footer_up #content{
		float:right;
		height:162px;
		width:950px;
		margin:10px 0px;
		overflow: hidden;
	}
	#footer_up #content #content_logo{
		width:100%; 
		height:62px;
		border-bottom:1px solid #C2C2C2;
		background: url("/Project_JSP/img/common/logo2.jpg") no-repeat;
	}
	#footer_up #content #cont{
		margin-top: 10px;
	}
	#footer_up #content #addr{
		font-size: 11px;
		width:280px;
		float: left;
		margin-right: 20px;
		margin-top: 10px;
		line-height: 17px;
	}
	#footer_up #cont #ul_link{
		margin-top: 20px;
		width:750px;  
	}
	#footer_up #content #ul_link a{
		text-decoration: none;
		color:#856f56;
		font-size: 12px;
	}	
	#footer_up #cont #ul_link dl{
		margin: 0px;
	}
	#footer_up #cont #ul_link dl:FIRST-CHILD{
		 padding-top: 8px; 
		margin-bottom: 20px;
	}
	#footer_up #content #ul_link dt{
		color:#856f56;
		font-weight: bold;
		width:80px;
	}
	#footer_up #content #ul_link dt,dd{
		font-size: 12px;
		float:left;
		height:10px;
		line-height:10px;
	}
	#footer_up #content #ul_link dd{
		width:70px;
		margin:0px;
		border-right:1px solid #C2C2C2;
		text-align: center;
	}
	#footer_up #content #ul_link dd:LAST-CHILD{
		border:none;
	}
	#footer_up #cont{
		position: relative;
	}
	#footer_up #cont #sns {
		width:150px;
		height:170px;
		position: absolute;
		right:0px;
		top:0px;
	}
	#footer_up #cont #sns dt{
		font-size: 16px;
		font-weight: bold;
		color:#856f56;
	}
	#footer_up #content #sns img{
		width:30px;
		height:30px;
	}
	#footer_up #content #sns dl{
		margin:0px;
		width:100%;
	}
	#footer_up #content #sns dd{
		margin-left:0px;
		float:left;
		width:50px;
		padding-top: 10px;
	}
	#footer_down_choice, #footer_down_info{
		width:1200px;
		margin: 0 auto;
	}
	#footer_down_choice{
		padding:20px 0px;
		overflow: hidden;
	}
	#footer_down_choice ul{
		list-style: none;
		width:800px !important;
		padding:0px;
		margin:0px;
	
	}
	#footer_down_choice ul li{
		float: left;
		 border-right:1px solid #BDBDBD; 
		text-align: center;
		 height:8px;
		 line-height: 8px;
	}
	#footer_down_choice ul li:LAST-CHILD{
		border:none;
	}
	#footer_down_choice ul li a{
		text-decoration: none;
		display:block;
		font-size: 14px;
	}
	#footer_down_choice #choice1, #choice2{
		width:100px;
		color:black;
	}
	#footer_down_choice #choice3{
		width:140px;
		color:#E0B94F;
	}
	#footer_down_choice #choice4{
		width:180px;
		color:#BDBDBD;
	}
	#footer_down_choice #choice5{
		width:190px;
		color:#BDBDBD;
	}
	#footer_down_info{
		color: #BDBDBD;
		border-top:1px solid #BDBDBD;
		padding:20px 0px;
		font-size: 13px;
	}
	#footer_down_info #ju{
		font-size: 10px;
	}
	#footer_down_info #copyright{
		color:#ABABAB;
		font-size: 12px;
	}
	
	@CHARSET "UTF-8";
/*section 왼쪽 메뉴 스타일*/
#contentWrap{
	width: 1200px;
	margin: 0px auto;
	overflow: hidden;
}

#leftArea{
	float: left;
	padding:23px;
	background:#f1e3c4;
}
 
.title{
	font-size: 23px;
	padding-bottom: 15px;
	border-bottom:5px solid #432c10;  
	margin-bottom: 25px;
	color:#432c10;
	letter-spacing: -2px;
}

.leftMenu{
	width: 216px;
}
li.bMenu{
	margin-bottom: 20px; 
}
li.bMenu>a{
	display:block;
	width:100%;
	height:30px;
	line-height:30px;
	color:#432c10;
	font-size: 16px;
	font-weight: bold;
	letter-spacing:-2px;    
	border-bottom: 1px dotted #cec2a8;
}
.sMenu a{
	display:block;
	width:100%;
	height:25px;
	line-height:25px;
	color:#876234;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: -1px;
}
.sMenu li:FIRST-CHILD a{
	margin-top: 5px;
}
.noBorder{
	border: none !important;
}

/*section 오른쪽 공간 스타일*/
#rightArea{
	width:866px;
	float: right;
}

/*페이지 타이틀*/
	#title{
		display:inline-block;
		font-size: 23px;
		color:#9c875c;
	}
	
	#wrap_home{
		margin-top:10px;
		display: inline-block;
		float: right;
		font-size: 12px;
		
	}
	#board{
		color: #865009;
		text-decoration: underline;
	}
	
	#wrap_title{
		border-bottom: #432c10 solid 5px;
		height: 47px;
		width:866px;
		margin:0px auto;
		margin-bottom:40px;
		overflow: hidden;
	}