<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Project_JSP.dao.BoardDao">
    
    <resultMap type="Board" id="BoardResult">
    	<id property="num" column="board_num"/>
    	<result property="type" column="board_type"/>
    	<result property="name" column="board_name"/>
    	<result property="email" column="board_email"/>
    	<result property="tel" column="board_tel"/>
    	<result property="title" column="board_title"/>
    	<result property="date" column="board_date"/>
    	<result property="check" column="board_check"/>
    </resultMap>
   
   <insert id="insertBoard" parameterType="Board">
   		insert into board(board_num,board_type,board_name,board_email,board_tel,board_title,board_date,board_check)
   		values(#{num},#{type},#{name},#{email},#{tel},#{title},#{date},#{check})
   </insert>
   
   <select id="selcetAllBoard" resultMap="BoardResult">
   		select * from board
   </select>
   
    <select id="selcetAllLimitBoard" resultMap="BoardResult" parameterType="map">
   		select * from board order by board_num desc limit #{num1},#{num2}
   </select>
   
   <select id="findByNumBoard" parameterType="Board" resultMap="BoardResult">
   		select * from board where board_num = #{num}
   </select>
   
   
   
    <select id="findByNameBoard" parameterType="Board" resultMap="BoardResult">
   		select * from board where board_name like #{name}
   </select>
   
   <select id="findByNameLimitBoard" parameterType="map" resultMap="BoardResult">
   		select * from board where board_name like #{board.name} order by board_num desc limit #{num1},#{num2}
   </select>
   
   <select id="findByTitleBoard" parameterType="Board" resultMap="BoardResult">
   		select * from board where board_title like #{title}
   </select>
   
   <select id="findByTitleLimitBoard" parameterType="map" resultMap="BoardResult">
   		select * from board where board_title like #{board.title} order by board_num desc limit #{num1},#{num2}
   </select>
   
	
   
   
   <delete id="deletByNumBoard" parameterType="Board">
   		delete from board where board_num = #{num}
   </delete>
   
  
   
   
   <select id="updateBoard" parameterType="Board">
   		update board set 
   		board_type = #{type},board_name =#{name},
   		board_email = #{email},board_tel =#{tel},board_title=#{title}
   		where board_num = #{num}
   </select>
</mapper>