<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Project_JSP.dao.ClientDao">
    
    <resultMap type="Client" id="ClientResult">
        <result property="clientNum" column="client_num"/>
        <result property="id" column="id"/>
        <result property="pw" column="password"/>
        <result property="nameKo" column="korean_name"/>
        <result property="nameEn" column="english_name"/>
        <result property="birth" column="birth"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="home" column="home"/>
        <result property="address" column="address"/>
        <result property="clientGrade" column="client_grade"/>
    </resultMap>
   
    <sql id="selectClientSql">
        select * from Client
    </sql>
    
    <sql id="whereSql">
        <where>
            <if test="clientNum != null">
                client_num = #{clientNum}
            </if>            
        </where>        
    </sql>
  
	<select id="selectClient" resultMap="ClientResult">
	    <include refid="selectClientSql"/>	    
	</select>
	
	<select id="selectClientNum" parameterType="Client" resultMap="ClientResult">
	    <include refid="selectClientSql"/>
	    <include refid="whereSql"/>	    
	</select>
	
	<select id="selectClientId" parameterType="Client" resultMap="ClientResult">
		select * from Client where id=#{id} and client_grade = #{clientGrade}
	</select>
	
	<select id="findClientId" parameterType="Client" resultMap="ClientResult">
		select * from Client where id=#{id}
	</select>
	
	<select id="findClientGrade" parameterType="ClientGrade" resultMap="ClientResult">
		select * from Client where client_grade=#{clientGrade}
	</select>
	
	<select id="selectClientPw" parameterType="Client" resultMap="ClientResult">
		select * from Client where password =password(#{pw}) and id=#{id} and client_grade =#{clientGrade}
	</select>
	
	<select id="selectClientName" parameterType="Client" resultMap="ClientResult">
		select * from Client where english_name=#{nameEn} and id=#{id} and client_grade =#{clientGrade}
	</select>
	
	<select id="selectClientEmail" parameterType="Client" resultMap="ClientResult">
		select * from Client where email =#{email} and client_grade = #{clientGrade}
	</select>
	
	<select id="selectNonClientByNameAndEmil" parameterType="Client" resultMap="ClientResult">
		select * from Client where english_name=#{nameEn} and email =#{email} and client_grade = #{clientGrade}
	</select>
	<select id="findClientByNameAndEmailAndId" parameterType="Client" resultMap="ClientResult">
		select * from Client where id =#{id} and english_name=#{nameEn} and email =#{email} and client_grade = #{clientGrade}
	</select>
	<insert id="insertClient" parameterType="Client">
	   insert into client(id,password,korean_name,english_name,birth,email,phone,home,address,client_grade) values(#{id}, password(#{pw}),#{nameKo}, #{nameEn},#{birth}, #{email},#{phone}, #{home},#{address}, #{clientGrade})
	</insert>
	
	<update id="updateClient" parameterType="Client">
	    update client set id=#{id},password=#{pw},korean_name=#{nameKo},english_name=#{nameEn},birth=#{birth},email=#{email},phone=#{phone},home=#{home},address=#{address},client_grade=#{clientGrade} where client_num = #{clientNum}
	</update>
	
	<update id="updateProfile"  parameterType="Client">
		update client set email=#{email},phone=#{phone},home=#{home},address=#{address} where id = #{id} and client_grade=#{clientGrade}
	</update>
	
	<update id="updatePassword" parameterType="Client">
		update client set password=password(#{pw}) where id=#{id} and client_grade =#{clientGrade}
	</update>
	
	<delete id="deleteClient" parameterType="Client">
	    delete from client where client_num = #{clientNum}
	</delete> 
    
</mapper>