<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Project_JSP.dao.GalleryDao">
    
    <resultMap type="Gallery" id="GalleryResult">
        <result property="num" column="gallery_num"/>
        <result property="name" column="gallery_name"/>
        <result property="content" column="gallery_content"/>
        <result property="path" column="gallery_path"/>
        <result property="type" column="gallery_type"/>
    </resultMap>
   
   <sql id="selectGallerySql">
        select gallery_num, gallery_name, gallery_content, gallery_path, gallery_type from gallery
    </sql>
    
    <sql id="whereSql">
        <where>
            <if test="num != null">
                gallery_num = #{num}
            </if>            
        </where>        
    </sql>
    
	<select id="selectGallery" resultMap="GalleryResult">
	    <include refid="selectGallerySql"/>	    
	</select>
	
	<select id="selectByGalleryType" parameterType="Gallery" resultMap="GalleryResult">
	    <include refid="selectGallerySql"/>
	    <where>	   
		    <if test="type != null">
	              gallery_type = #{type}
	        </if> 
        </where>
	</select>
	<select id="selecGalleryByNum" parameterType="Gallery" resultMap="GalleryResult">
	    <include refid="selectGallerySql"/>
	    <include refid="whereSql"/>	    
	</select>
	
	<insert id="insertGallery" parameterType="Gallery">
	   insert into Gallery(gallery_name, gallery_content, gallery_path, gallery_type) 
	   values(#{name}, #{content}, #{path}, #{type})
	</insert>
	
	<update id="updateGallery" parameterType="Gallery">
	    update Gallery set gallery_name = #{name}, gallery_content = #{content},
	    gallery_path = #{path}, gallery_type = #{type}
	    <include refid="whereSql"/>
	</update>
	
	<delete id="deleteGallery" parameterType="Gallery">
	    delete from Gallery
	    <include refid="whereSql"/>
	</delete> 

</mapper>