<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Project_JSP.dao.OptionDao">
    
    <resultMap type="Option" id="OptionResult">
        <result property="optionNum" column="option_num"/>
        <result property="optionContent" column="option_content"/>
        <result property="optionPrice" column="option_price"/>
        <result property="selectOption" column="select_option"/>
    </resultMap>
   
    <sql id="selectOptionSql">
        select * from shilla_option
    </sql>
    
    <sql id="whereSql">
        <where>
            <if test="optionNum != null">
                option_num = #{optionNum}
            </if>            
        </where>        
    </sql>
    
	<select id="selectOption" resultMap="OptionResult">
	    <include refid="selectOptionSql"/>	    
	</select>
	
	<select id="selectOptionNum" parameterType="Option" resultMap="OptionResult">
	    <include refid="selectOptionSql"/>
	    <include refid="whereSql"/>	    
	</select>
	
	<insert id="insertOption" parameterType="Option">
	   insert into shilla_option(option_content, option_price, select_option) 
	   values(#{optionContent}, #{optionPrice}, #{selectOption})
	</insert>
	
	<update id="updateOption" parameterType="Option">
	    update shilla_option set option_content = #{optionContent}, option_price = #{optionPrice}, 
	    select_option = #{selectOption} where option_num = #{optionNum}
	</update>
	
	<delete id="deleteOption" parameterType="Option">
	    delete from shilla_option where option_num = #{optionNum}
	</delete> 
    
</mapper>