<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.dao.ProjectDao">
    
    <resultMap type="Project" id="ProjectResult">
        <result property="projectNum" column="project_num"/>
        <result property="projectName" column="project_name"/>
        <result property="projectContent" column="project_content"/>
        <result property="projectStart" column="project_start"/>
        <result property="projectEnd" column="project_end"/>
        <result property="projectIng" column="project_ing"/>
    </resultMap>
   
    <sql id="selectProjectSql">
        select project_num, project_name, project_content, project_start, project_end, project_ing from project
    </sql>
    
    <sql id="whereSql">
        <where>
            <if test="projectNum != null">
                project_num = ${projectNum}
            </if>            
        </where>        
    </sql>
    
    <select id="selectProjectAll" resultMap="ProjectResult">
        <include refid="selectProjectSql"/>
    </select>
    
    <insert id="insertProject" parameterType="Project">
        insert into project(project_name, project_content, project_start, project_end, project_ing) 
        values(#{projectName}, #{projectContent}, #{projectStart}, #{projectEnd}, #{projectIng})
    </insert>
    
    <select id="selectByNum" parameterType="Project" resultMap="ProjectResult">
        <include refid="selectProjectSql"/>
        <include refid="whereSql"/>
    </select>
    
    <update id="updateProject" parameterType="Project">
          update project set project_name = #{projectName}, project_content = #{projectContent}, 
          project_start = #{projectStart}, project_end = #{projectEnd}, project_ing = #{projectIng}
          <include refid="whereSql"/>
    </update>
    
    <delete id="deleteProject" parameterType="Project">
        delete from project
        <include refid="whereSql"/>
    </delete>
    
</mapper>