@CHARSET "UTF-8";
#wrap_title{
		margin:0px;
	}
#title_info{
	padding:20px 0px;
	font-size: 12px;
	color:#A6A6A6;
}
#password{
	background:#D3C09A url("../../img/mypage/BtnNext.png") no-repeat right;
}
#newPw >table{
	border-collapse:collapse;
	border-top: #cdcbbe solid 1px;
	border-bottom : #cdcbbe solid 1px;
	width:100%;
	text-align: left;
	font-size: 13px;
	margin-bottom: 20px;
}
#newPw >table th{
		color:#666;
	background: #faf9f4;	
	width:130px;
	font-weight: bold;
}
#newPw > table th,td{
	padding:6px 15px;
	line-height: 22px;
}
.bar{
	border-bottom: #eceae1 solid 1px;
}
input{
	outline:none;
	    border: 1px solid #ccc;
    padding: 5px 4px 4px;
    margin: 1px 0;
    color: #666;
}
#btn{
	margin-top: 35px;
	text-align: center;
}
#btn a{
	display:inline-block;
}
#error{
	font-size: 12px;
	color:red;
	display: none;
}
#ok{
	font-size: 12px;
	color:green;
	display:none;
}