@CHARSET "UTF-8";

div#contentWrap{
	min-height: 600px;	
}

div#wrap_title{
	margin-bottom: 0px;	
}

div#adminRoomMainDiv{
	border: 1px solid #f1e3c4;
	padding: 20px;	
}

#adminRoomBtnDiv{
	margin-bottom: 20px;
}

#adminRoomBtnDiv select{
	vertical-align: top;
	height: 25px;
}


#adminRoomTableDiv div:FIRST-CHILD {
	border-bottom: 2px solid #a1886f;
}

#adminRoomTableDiv div:FIRST-CHILD img:LAST-CHILD{
	float: right;
	width: 60px;
	cursor: pointer;
}

#TotalDiv{
	font-size: 13px;
	padding: 10px 0 10px 0;
}

#TableDiv table{
	border-top: 1px solid #cdcbbe;
	border-bottom: 1px solid #cdcbbe;
	border-collapse: collapse;
	width: 100%;
}

#TableDiv table th{
	background-color: #faf9f4;
	border-bottom: 1px solid #cdcbbe;
	font-size: 13px;
	font-weight: bold;
	padding: 15px;
	color: #666666;
}

#TableDiv table td{
	text-align: center;
	padding: 15px;
	font-size: 13px;
}

#TableDiv table tr.roomInfoTr{
	border-bottom: 1px solid #cdcbbe;
	cursor: pointer;
}

#TableDiv table tr.roomInfoTr:hover{
	background-color: #faf9f4;
}

#TableDiv table tr[class*='roomInfo']{
	border-top: 1px solid #cdcbbe;
	border-bottom: 1px solid #cdcbbe;
}

 #TableDiv table tr[class*='roomInfo'] th{
 	vertical-align: middle;
 }

#TableDiv table tr[class*='roomInfo'] td{
 	padding: 15px 10px 15px 10px;
}

#TableDiv table tr[class*='roomInfoImg']{
	display: none;
}

#TableDiv table tr[class*='roomInfoImg'] img{
	width: 160px;
	height: 90px;
	margin-right: 5px;
	text-align: center;
}

#TableDiv table tr[class*='roomInfoBtn']{
	display: none;
}

#TableDiv table tr[class*='roomInfoBtn'] td{
	vertical-align: middle;
}

#TableDiv table tr[class*='roomInfoBtn'] td.reservImg img{
	width: 160px;
	float: left;
	margin-left: 20px;
}

#TableDiv table tr[class*='roomInfoBtn'] td:LAST-CHILD img{
	cursor: pointer;
}

