@CHARSET "UTF-8";
#wrap_title{
	margin-bottom: 10px !important;
}
#t1{
	width:800px;
	margin:0 auto;
	border-top:2px solid #432c10;
}
#t1 th{
	border-bottom: 1px solid #432c10;
	padding:10px 5px;
	font-weight: bold;
	font-size: 13px;
	background: #faf9f4;
	color:#666;
}
#t1 td{
	border-bottom:1px solid #ddd;
	padding:4px 5px;
	text-align: center;
	font-size: 11px;
	
}
#t1 tr:hover{
	background: #ddd;
	cursor: pointer;
}
#check_title{
	width:20px;
}
#t_title{
	width:130px;
}
#total{
	margin-top: 5px;
	font-size: 14px;
	font-weight: bold;
}
#select_btn{
	width:800px;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
}
#select_btn button{
	cursor: pointer;
	background: rgb(179, 162, 143);
	color:white;
	font-weight: bold;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	font-size:14px;
	    padding: 4px 6px;
}
#select_btn button:HOVER {
	background:rgb(93, 73, 48);
}