@CHARSET "UTF-8";

#wrap_content{
	width: 90%;
	margin:0 auto;
}

#wrap_div {
	background: #faf9f4;
	border-top:2px solid #432c10;
	margin-top:10px;
	height: 34px;
	border-bottom:1px solid #432c10;
	position: relative;
}
#b_title{
	font-weight: bold;
	font-size: 20px;
	color: #666;
	margin-left:5px;
}
#wrap_div ul{
	float: left;
	overflow: hidden;
	
}
#wrap_div ul li{
	float: left;
	padding: 10px 4px;
	font-size: 14px;
}

.f_li{
    font-weight: bold;
    font-size: 13px;
    color: #666;
}
#wrap_name{
	position: absolute;
	left: 5px;
}
#wrap_date{
	position: absolute;
	right: 100px;
	
}
#wrap_no{
	position: absolute;
	right: 5px;
}
#content_wrap{
	border-bottom:2px solid #432c10;
	min-height:200px;
	
}
#content_wrap p{
	margin:20px;
}
#wrap_btn_style{
	width:100%;
	position: relative;
	margin-top:1px;
	height: 30px;
}

.btn_style:FIRST-CHILD{
	position: absolute;
	left:10px;
}
.btn_style:LAST-CHILD{
	position: absolute;
	right:20px;
}
#btn_update{
	position: absolute;
	right:80px;
}
.btn_style{
	display:inline-block;
	margin-top:2px;
	font-weight: bold;
	background: rgb(179, 162, 143);
	border: 1px solid #ddd;
	border-radius:3px;
	padding: 4px 6px;
	color:white;
	font-size: 14px;
}
.btn_style:hover{
	background:rgb(93, 73, 48);
}

.textarea{
	width:90%;
	resize:none;
	height:50px;
}
.wrap_comment{
	
	padding:0 10px;
	position: relative;
	
}
.wrap_comment .btn_style{
	position: absolute;
	height:50px;
	line-height: 36px;
	margin:0;
}


.wrap_comment p{ 
	color: #595959;
	font-size: 15px;
	font-weight: bold;
	margin:10px 0;
}
.wrap_comment label{
	color: #666;
	font-size: 14px;
	font-weight: bold;
	margin:5px 0;
}
.name{
	margin:8px 0;
	width:100px;
}

.hide{
	background:#d4d4d4;
	width: 100%;
}
#comment_table{
	margin-bottom:20px;
	border-top:1px solid #ddd;
	width:100%;
}
#comment_table td{
	font-size: 12px;
	padding:10px;
	border-bottom: 1px solid #ddd;
}
#comment_table .t1{
	font-size: 14px;
}
#comment_table .t_title{
	font-weight: bold;
	font-size: 13px;
}
#comment_{
	margin:20px 0 4px 5px;
	
	 color:rgb(134, 80, 9);
	 font-size: 16px;
}

.btn_style2{
	font-weight: bold;
	background: rgb(179, 162, 143);
	border: 1px solid #ddd;
	border-radius:3px;
	
	color:white;
	font-size: 15px;
}
.btn_style2:hover{
	background:rgb(93, 73, 48);
}
.t1{
	width:55%;
}
.t2{
	width:11%;
}
.t3{
	width:25%;
	font-size: 12px !important;
}
.t4,.t5{
	padding:0 !important;
	
}
.t4 a{
	font-size: 14px;
	padding: 2px;
	
}
.t5 a{
	padding:0 4px;
}



