@CHARSET "UTF-8";

/* 예약 초기 화면 */
div#main{
	width: 1200px;
	margin: 0 auto;
	min-height: 800px;
	
}

div#main > table{
	width: 100%;	
	margin-top: 3%;
	text-align: center;
}

div#main > table th{
	border-bottom: 4px solid #a0886e;
	width: 25%;
	padding: 15px;
	color: #a0886e;
	font-weight: bold;
	font-size: 16px;
	position: relative;
}

div#main > table th img{
	position: absolute;
	right: 10px;
	bottom: 8px;
}


div#main  >table th.noSelect{
	border-bottom: 4px solid #cacbc3;
	padding: 5px;
	color: #cacbc3;
}

div#main > table tr:NTH-CHILD(2) td{
	padding: 50px 0;
	border-bottom: 1px solid #f1e3c4;
}


div#main > table tr td > div:NTH-CHILD(1){
	width: 20%;	
}

div#main > table tr td > div{
	float: left;
	display: inline-block;
	width: 14.5%; 
	height: 100px;
	margin: 0 auto;
	padding: 5px;
	position: relative;
}

div#main > table tr td > div:NTH-CHILD(1){
	line-height: 100px;
}


div#main div.selectText{
	font-size: 13px;
	line-height: 30px;
}

div#main div.selectDay{
	margin-top: 10%;
}

div#main div.selectType > img{
	position: absolute;
	top: 10px;
	right: 25px;
	cursor: pointer;
}

div#main span.alertText{
	font-size: 13px;
	text-align: left;
	border: 1px solid #a0886e;
	position: absolute;
	top: -55px;
	left: 15px;
	width: 130px;
	height: 40px;
	padding: 10px;
	line-height: 22px;
	display: none;
}

div#main span#babyAlert{
	font-size: 13px;
	text-align: left;
	border: 1px solid #a0886e;
	position: absolute;
	top: -55px;
	left: 20px;
	width: 130px;
	height: 40px;
	padding: 10px;
	line-height: 40px;
}

div#main div.dayWrap{
	float: left;
	margin: 4% 0 0 15%; 
	text-align: left;
}

div#main div.day{
	margin-right: 10%;
	font-size: 45px;
	cursor: pointer;
}

div#main div.month{
	font-size: 24px;	
}

div#main > table tr td:NTH-CHILD(2) img{
	margin-bottom: 10%;
	cursor: pointer;
}

div#main div.selectNum div.num{
	float: left;
	font-size: 45px;
	margin: 10% 0 0 15%;
}

div#main div.selectNum div.selectBtn{
	float: right;	
	margin: 10% 20% 0 0;
}


div#main div.selectNum span.selectPlus img{
	display: block;
	cursor: pointer;
	
}

div#main div.selectNum span.selectMinus img{
	display: block;
	cursor: pointer;
	
}

div#main > table td#tdText{
	border-bottom: 1px solid #f1e3c4;
	padding: 200px;
	color: #a0886e;
	font-weight: bold;
}

/* 달력 */
div#start-calendar{
	position: absolute;
	top: 430px;
	left: 530px;
	display: none;
}

div#end-calendar{
	position: absolute;
	top: 430px;
	left: 530px;
	display: none;
}



/* 이용 가능한 객실  */

div#main tr.roomText{
	background-color: #f1e3c4;
}

div#main tr.roomText td:NTH-CHILD(1){
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 0 10px 20px;

}

div#main tr.roomText td:NTH-CHILD(2){
	text-align: right;
	font-size: 13px;
	padding-right: 20px;
	color: #747474;

}

div#main tr.roomInfo td {
	border-bottom: 1px solid #f1e3c4;
	padding: 50px;
}

div#main tr.roomInfo td:NTH-CHILD(2){
	padding: 0;
}

div#main tr.roomInfo td:NTH-CHILD(2) div{
	width: 100%;
	text-align: left;
	line-height: 30px;
	padding: 0px;
	margin-bottom: 10px;
}

div#main tr.roomInfo td:NTH-CHILD(2) span.roomGrade{
	font-size: 22px;
	color: #a0886e;
}

div#main tr.roomInfo td:NTH-CHILD(2) span.roomName{
	font-size: 20px;
}

div#main tr.roomInfo td:NTH-CHILD(2) span.roomSize, div#main tr.roomInfo td:NTH-CHILD(2) span.roomView{
	font-size: 12px;
}

div#main tr.roomInfo td:NTH-CHILD(3){
	padding-left: 0;
}

div#main tr.roomInfo td:NTH-CHILD(3) div{
	line-height: 30px;
	text-align: left;
	width: 100%;
	position: relative;
}

div#main tr.roomInfo td:NTH-CHILD(3) div img{
	position: absolute;
	top: 0;
	right: -40px;
}

div#main tr.roomInfo td:NTH-CHILD(3) div span.roomPrice{
	font-size: 30px;
}

div#main tr.roomInfo td:NTH-CHILD(3) div span.perDay{
	font-size: 12px;
	margin-left: 90px;
}





















