@CHARSET "UTF-8";
section{
	padding: 0;
}
/*메인 비쥬얼*/
#visualWrap{
	width: 100%;
	height: 600px;
	position: relative;
	margin-bottom: 100px;
}
.mainVisual{
	width: 100%; 
	height: 600px;
}
.mainVisual div{
	width: 100%; 
	height: 600px; 
}
.mainVisual a {
	display:block;
	width: 100%;
	height: 100%;
}
.mainVisual img{
	width: 100%;
	height: 100%;	
}
.visContent{
	width: 1200px;
	height: 600px;
	position: absolute;
	top:0px;
	left:50%;
	margin-left:-600px;
}
.mVisBtn{
	display:block;
	text-indent:-9999px; 
	width:23px;
	height:37px;
	background:url("/Project_JSP/img/main/icoSlideNav.png");
	position:absolute;
	top:50%;
	margin-top: -18.5px; 
	z-index: 9999;
}

.next{
	right: 0px;
	background-position-x:23px;  
}

/*메인 예약검색*/
.reserveWrap{
	position: absolute;
	background: #ececec;
	padding:13px 30px;
	bottom:30px;
	left:0px;
	z-index: 9999;
}

ul.selList{
	margin-top:3.5px;
	float: left;
}
ul.selList>li{
	color:#444444;
	font-weight:bold;
	font-size:17px;
	float: left;
	position: relative;
	border-left: 1px solid #a9a9a9;	
}

.selectAll{
	display: none;
}  
/* 셀렉트 스타일 */
ul.rsSelect{
	position: absolute;
	width: 120.98px;
	min-height: 131px;
	top: -159px;
	background: #fff; 
	padding: 5.505px;
	display: none;
}  
ul.rsSelect>li:HOVER{
	background-color: #f1ebd6;
}
ul.rsSelect>li{ 
	padding-left: 11px;
}
ul.rsSelect>li>a{
	display:block;
	width: 114px;
	height: 30px; 
	line-height:30px;
	font-size: 12px;
	font-weight: normal;
}

.arr{
	display:inline-block;
	width:15px;
	height: 18px;
	float:right;
	background: url("/Project_JSP/img/main/bg_jsSelect.gif");
}

.hotelLi{
	width: 185px;
	height: 18px;
	padding: 10px 10px 9px 14px;
	
}

#ckin,#ckout,.rsBox{
	width: 96.989px;
	height: 18px;
	padding: 10px 10px 9px 14px;
	background: rgba(0,0,0,0);
	border: none;
	cursor: pointer;
}
.rsBox{
	margin-right: 10px;
}

ul.selList>li:last-child .rsBox{
	margin-right: 0px;
}
#ckin::placeholder,#ckout::placeholder {
	color:#444444;
	font-weight:bold;
	font-size:17px;
}
.btnCal{
	display:inline-block;
	width:23.991px;
	height: 20px;
	margin-top:8.5px;
	margin-right:20px;
	float:right;
	background: url("/Project_JSP/img/main/icoCal.png");
}
.wranMsg{
	float: left;
	position: relative;
}
.wranMsgInner{
	display: block;
	position: absolute;
	min-width: 195px;
	border:1px solid #89745d;
	background: #fff;
	bottom:25px; 
	left:-179px;
	color:#444;
	line-height: 24px;	    
	font-size: 12px;
	padding: 13px 15px;
	display: none;
}
.wranArr{
	position:absolute;
	width:9px;
	height:7px;  
	right:34px;
	bottom:-7px;
	background:url("/Project_JSP/img/main/icoBalloonArrow.gif") no-repeat;  
}
.wranIcon{
	display:inline-block;
	width:16px; 
	height: 16px;
	margin-top:14px; 
	margin-right:46.1px;
	float:right;
	background: url("/Project_JSP/img/main/icoWarn.png");
}
.wranIcon:HOVER +.wranMsgInner{
	display: block;
}
.resBtn{
	text-indent:-9999px;
	display:block;
	width:150px;
	height:44px;
	float:left;
	background: url("/Project_JSP/img/main/btnSrch.gif");
}

#start-calendar,#end-calendar{
	width:298px;
	display: none;
	position: absolute;	
	top: -336px;
	left: -7px;
}
 
.resActive{ 
	position: absolute;
	bottom: 0px;
	height: 5px;
	width: 150px;
	background: #81725f;	
	display: none;
}
 
#start-calendar table,#end-calendar table{
	box-shadow:none;
}

/*배너 2 */
.mainContent{
	margin-bottom: 100px;
}
.bannerWrap{
	width: 100%;
	margin-bottom: 100px;	 
}
.bannerBgColor{
	background: #f4eee3;
}
.bannerWrap .banContent{
	width: 1200px;
	height: 353px;
	position:relative;
	margin: 0 auto;	 
}

.titleWrap{
	width: 1200px;
	margin-bottom:30px;
	overflow: hidden;
}
.titleWrap h2{
	display:inline-block;
	float: left;
} 
.titleWrap a{
	float: right;
} 
.contentBox{
	width: 380px;
	height:295px;
	float:left;
	margin-right:30px; 
}
.contentBox:LAST-CHILD{
	margin-right:0px;
} 

.contentBox img{
	width: 380px;
	height: 210px;
}

.tit{
	width: 100%; 
}
.tit h3{ 
	margin:10px;
	color:#343434;
	font-size: 18px;
	font-weight: bold;
}

.tit p{
	margin:5px 10px;
	color:#8d8d8d;
	font-size: 12px;
}
.content{
	width: 100%;
	height: 353px;
}

.leftContent{
	width: 40%;
	height:100%;
	overflow: hidden;
	float: left;
	position: relative;
}
.leftContent h2{
	margin: 40px 0px;
	font-size: 20px;
	color:#343434;
	font-weight: bold;
}

.leftContent h3{
	margin-bottom: 20px;
	font-size: 18px;
	color:#7d684d;
	font-weight: bold; 
} 
.leftContent p{
	padding-right:50px;
	line-height: 26px;
	font-size:13px;
	color:#727272; 
}
.actMore{ 
	position: absolute;
	bottom: 50px;
	
}
.rightContent{
	width: 60%;
	height: 100%;
	overflow: hidden;
	float: left;
}

.rightContent img{ 
	display:block;
	width: 100%;
	height: 100%;
}

.actBtnWrap{
	width: 212px;
	padding-top:31px; 
	height: 58px;	
	position: absolute;
	z-index: 999;
	background-color:rgba(255,255,255,0.8);
	bottom: 0px;
	left:40%;
} 

.actBtn{
	display:block;
	width:14px;
	height:27px;
	background-image: url("/Project_JSP/img/main/packageControlNav.gif");	
	background-repeat: no-repeat;
	float: left;
	margin-left: 30px;
}
.act_next{
	background-position: right 0;
	float: right;
	margin-left: 0px;
	margin-right: 30px;
}
.actBtnWrap p{
	margin-left:27px;
	height:32px;
	float: left;
}
.actBtnWrap p span{
	display:inline-block;
	height:32px;
	color:#aaa; 
	font-size:18px;
	margin-left:5px;
	font-weight: lighter; 
}
.showSlide{
	color:#666 !important;	
	font-size: 24px !important;
	font-weight: bold !important;
}

.rewardsWrap{
    border: 1px solid #e0e0e0;
    background: #f6f6f6;
    height: 193px !important;
    padding: 50px;
    overflow: hidden;
}

.rewardsWrap .rwTitle{
    margin-bottom: 25px;
}

.rewardsWrap .rwDesc {
    overflow: hidden;
    margin: 0 0 45px;
}

.rewardsWrap .rwDesc li {
    float: left;
    margin-left: 28px;
    padding-left: 28px;
    border-left: 1px solid #e4e4e4;
    font-size: 0;
    line-height: 0;
}

.rewardsWrap .rwDesc li:FIRST-CHILD {
    margin-left: 0;
    padding-left: 0;
    border-right: none;
}

.rewardsWrap .rwJoin {
    position: absolute;
    top: 110px;
    right: 50px;
    width: 230px;
}

.rewardsWrap .rwJoin .btnRwJoin {
    display: block;
    position: absolute;
    top: 98px;
    right: 0;
    font-size: 0;
    line-height: 0;
}

.rewardsWrap .rwBenefit { 
    position: relative;
    width: 724px;
}

.rewardsWrap .rwBenefit .btnRwMore {
    position: absolute;
    top: 24px; 
    right: 102px;
}